/* # --> ini merupakan simbol id dengan nama id-nya judul_search */
#judul_search {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.todo_search {
    border: 1px solid grey;
    padding: 3rem;
    margin: 2rem;
}

#button_search {
    margin-top: 2rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

#button_add {
    margin-top: 2rem;
    margin-left: 42rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.header_container form {
    display: flex;
    justify-content: flex-start;
}

#judul_filter {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
} 

.todo_filter {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#filterall {
    padding-left: 5rem;
    padding-right: 5rem;
}

#filterdone {
    padding-left: 5rem;
    padding-right: 5rem;
}

#filtertodo {
    padding-left: 5rem;
    padding-right: 5rem;
}

#list {
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    gap: 1rem;
}

#listitem {
    border: 1px solid grey;
    padding-left: 2rem;
    padding-right: 2rem;
}

#judul_input {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.todo_input {
    border: 1px solid grey;
    padding: 3rem;
    margin: 2rem;
}

.todo_container form {
    display: flex;
    justify-content: flex-start;
}

.todo_input form {
    display: flex;
    justify-content: center;
}

#submit_button {
    margin-top: 2rem; 
    margin-left: 31rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}